@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-3"> Welcome to Sugarbee Brunch Café!! </h1>
<h3>🌸About our little establishment🌸</h3>
<p>
    lorem ipsum dolor sit lauren epsum solo sh dougus dippus deltoid dump krampus krungus forrest gump
    lorem ipsum dolor sit lauren epsum solo sh dougus dippus deltoid dump krampus krungus forrest gump
    lorem ipsum dolor sit lauren epsum solo sh dougus dippus deltoid dump krampus krungus forrest gump
    lorem ipsum dolor sit lauren epsum solo sh dougus dippus deltoid dump krampus krungus forrest gump
    lorem ipsum dolor sit lauren epsum solo sh dougus dippus deltoid dump krampus krungus forrest gump
    lorem ipsum dolor sit lauren epsum solo sh dougus dippus deltoid dump krampus krungus forrest gump
</p>